/* for some reason this file is global which is a blessing and a curse */
@layer components {
  /* proper subpages need "overflow-scroll h-screen" classes as workaround */
  body {
    overflow: hidden;
  }

  .std-h1 {
    @apply font-display text-6xl sm:text-7xl md:text-8xl 2xl:text-9xl;
  }
  .std-h2 {
    @apply mb-3 font-display text-4xl sm:text-6xl text-gray;
  }
  .std-h3 {
    @apply font-display text-2xl sm:text-3xl text-gray
  }

  /* disable ios blinky thing */
  .overlay-exit, .trapezoid-button {
    -webkit-tap-highlight-color: transparent;
  }

  .animated-border {
    /* static borders: https://kovart.github.io/dashed-border-generator/ */
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 24px,
      theme(colors.yellow) 24px,
      theme(colors.yellow) 48px
    );
    background-size: calc(100% + 68px);
  }

  /* reducing motion is probably unnecessary but i feel clever doing it */
  @media screen and (prefers-reduced-motion: no-preference) {
    .animated-border {
      animation: border-animation 3s linear infinite;
    }
  }

  @keyframes border-animation {
    from {
      /* why 68? i don't know! seems to work well on most browsers */
      background-position: -68px;
    }
    to {
      background-position: 0;
    }
  }

  /* these are set in javascript but kept because it's easier to read here */
  /*
  .trapezoid-button {
    background-image: linear-gradient(
      -80deg,
      transparent,
      transparent 5%,
      theme(colors.white) 5%,
      theme(colors.white) 100%
    );
  }
  .trapezoid-button-inner {
    background-image: linear-gradient(
      -80deg,
      transparent,
      transparent 5%,
      theme(colors.blue) 5%,
      theme(colors.blue) 100%
    );
  }*/
}
